{% extends "base.html" %}

{% block title %}Intro{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}

<div class="container my-3">
    <h2>Introduction</h2>
    <ul class="list-group">
        <li class="list-group-item">Hey, My name is <strong>Manish Agarwal</strong>.</li>
        <li class="list-group-item">I am from JAIPUR, RAJASTHAN aka "The Pink City".</li>
        <li class="list-group-item">I am curious about different tech domains and have explored a few of them:
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Software Development</li>
                <li class="list-group-item">Hardware Design</li>
                <li class="list-group-item">ML/AI</li>
            </ol>
        <li class="list-group-item">Apart from this, I like to play chess and read anything I found interesting.</li>
    </ul>
</div>

{% endblock body %}